@tailwind base;
@tailwind components;
@tailwind utilities;

/************ Color Variables ************/
:root {
    /* Primary Colors */
    --primary: #004DDB;
    --primary-50: #E5EEFF;
    --primary-100: #CCDEFF;
    --primary-200: #99BDFF;
    --primary-300: #669CFF;
    --primary-400: #337AFF;
    --primary-500: #0059FF;
    --primary-600: #0047CC;
    --primary-700: #003699;
    --primary-800: #002466;
    --primary-850: #001B4D;
    --primary-900: #001233;

    /* Gray Shades */
    --gray-50: #F2F2F2;
    --gray-100: #E6E6E6;
    --gray-200: #CCCCCC;
    --gray-300: #B3B3B3;
    --gray-400: #999999;
    --gray-500: #808080;
    --gray-600: #666666;
    --gray-700: #4D4D4D;
    --gray-800: #333333;
    --gray-850: #262626;
    --gray-900: #1A1A1A;

    /* Extended Colors */
    --danger: #CC0003;
    --danger-light: #FF999B;
    --danger-light-hover: #FF6669;
    --danger-dark: #990003;
    --danger-dark-hover: #660002;

    --warning: #FFE100;
    --warning-light: #FFF399;
    --warning-light-hover: #FFED66;
    --warning-dark: #998700;
    --warning-dark-hover: #665A00;

    --success: #00CC1F;
    --success-light: #99FFA8;
    --success-light-hover: #66FF7D;
    --success-dark: #009917;
    --success-dark-hover: #00660F;
}

body, html {
    font-family: Inter, sans-serif;
    margin: 0px;
    padding: 0px;
}

/************ Text Styles ************/

/* Font sizes */
.m-text-xxxl {
    font-size: 64px;
}

.m-text-xxl {
    font-size: 40px;
}
.m-text-xl {
    font-size: 32px;
}
.m-text-lg {
    font-size: 24px;
}
.m-text-md {
    font-size: 20px;
}
.m-text-sm {
    font-size: 16px;
}
.m-text-xs {
    font-size: 14px;
}
.m-text-xxs {
    font-size: 12px;
}

/* Fonts */
.serif {
    font-family: Garamond, serif;
}

.sans {
    font-family: Inter, sans-serif;
}

/* Font Weights */
.m-text-bold {
    font-weight: 700;
}
.m-text-semibold {
    font-weight: 600;
}
.m-text-regular {
    font-weight: 500;
}
.m-text-semilight {
    font-weight: 400;
}
.m-text-light {
    font-weight: 300;
}

/* Text Colors */
.m-text-primary {
    color: var(--primary);
}
.m-text-primary-light {
    color: var(--primary-300);
}
.m-text-primary-dark {
    color: var(--primary-700);
}


/*********** Button Styles ************/
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    border-radius: 44px;
    font-weight: 600;
}

/* Button Sizes */
.btn-sm {
    padding: 8px 12px;
}
.btn-lg {
    padding: 16px 14px;
}
.btn-icon {
    padding: 12px 12px;
}
.btn-icon-sm {
    padding: 8px 8px;
}
.btn-icon-lg {
    padding: 16px 16px;
}

/* Button Variations */
.btn-secondary-fill {
    background-color: white;
    color: black;
}
.btn-tertiary-fill {
    background-color: black;
    color: white;
}
.btn-tertiary-light-fill {
    background-color: var(--gray-800);
    color: white;
}

.btn-secondary-outline {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.btn-tertiary-outline {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}
.btn-tertiary-light-outline {
    background-color: transparent;
    color: var(--gray-600);
    border: 1px solid var(--gray-600);
}

.btn-secondary-text {
    background-color: transparent;
    color: white;
}
.btn-tertiary-text {
    background-color: transparent;
    color: black;
}

/* Hover Styles */
.btn-secondary-fill:hover {
    background-color: var(--gray-200);
}
.btn-tertiary-fill:hover {
    background-color: var(--gray-800);
}
.btn-tertiary-light-fill:hover {
    background-color: var(--gray-600);
}

.btn-secondary-outline:hover {
    background-color: var(--gray-200);
}
.btn-tertiary-outline:hover {
    background-color: var(--gray-200);
}
.btn-tertiary-light-outline:hover {
    background-color: var(--gray-200);
    color: var(--gray-800);
}

.btn-secondary-text:hover {
    background-color: var(--gray-200);
}
.btn-tertiary-text:hover {
    background-color: var(--gray-200);
}

/* Light Theme Button Styles */
.btn-fill {
    background-color: var(--primary);
    color: white;
}
.btn-outline {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}
.btn-text {
    background-color: transparent;
    color: var(--primary);
}

/* Hover Styles */
.btn-fill:hover {
    background-color: var(--primary-700);
}
.btn-outline:hover {
    background-color: var(--gray-200);
}
.btn-text:hover {
    background-color: var(--gray-200);
}

/* Dark Theme Button Styles */
.dark-btn-fill {
    background-color: var(--primary-300);
    color: white;
}
.dark-btn-outline {
    background-color: transparent;
    color: var(--primary-300);
    border: 1px solid var(--primary-300);
}
.dark-btn-text {
    background-color: transparent;
    color: var(--primary-300);
}

/* Hover Styles */
.dark-btn-fill:hover {
    background-color: var(--primary-100);
}
.dark-btn-outline:hover {
    background-color: var(--gray-800);
}
.dark-btn-text:hover {
    background-color: var(--gray-800);
}

/*********** Input Styles ************/
.input-text {
    border-radius: 4px;
    border: 1px solid var(--gray-500);
    background-color: transparent;
    padding: 8px 12px;
    color: black;
}
.dark-input-text {
    border-radius: 4px;
    border: 1px solid var(--gray-500);
    background-color: transparent;
    color: white;
}
.input-text-icon {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}
.input-text-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*********** Card Styles ************/
.card {
    padding: 32px;
    border-radius: 8px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.dark-card {
    padding: 32px;
    border-radius: 8px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-800);
}

/*********** Dialog Styles ************/
.dialog {
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: white;
}
.dark-dialog {
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--gray-800);
}